@import "../../styles/variables.scss";

.year-title {
    display: block;
    font-family: "Childhood", sans-serif;
    font-size: 80px;
    color: $color-accent;
    text-shadow: 2px 2px 4px rgba(201, 168, 124, 0.2);
    text-align: center;
    letter-spacing: 8px;
}

