@import "../../styles/variables.scss";

.year-title {
    display: block;
    font-family: "Main", sans-serif;
    font-size: 120px;
    color: $color-accent;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(201, 168, 124, 0.2);
    text-align: center;
}

@media (max-width: 480px) {
    .year-title {
        font-size: 76px;
    }
}
